:root {
  --primary-color: #3366CC;
  --secondary-color: #FF9933;
  --background-color: #F4F4F4;
  --background-color2: rgb(159, 155, 155);
  --text-color: #737272;
  --title-color: #565151;
}
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500&display=swap');
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
  }
  
  .pcontainer {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom:90px;

  }
  

  
  h2 {
    margin: 10px 0;
    color: var(--title-color);
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--title-color);
  }
  
  button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }

  .data{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  /* Add more custom styles as needed */
  