:root {
    --primary-color: #3366CC;
    --secondary-color: #FF9933;
    --background-color: #F4F4F4;
    --background-color2: rgb(198, 195, 195);
    --text-color: #737272;
    --title-color: #807c7c;
  }

.sched-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
}

.sched-data{
display: flex;
flex-direction: column;
}

